---

# connection info for our database
DATABASE: 'postgres://127.0.0.1/medeo_development'

# newrelic info
BASE_URL: 'https://api.newrelic.com/api/v1/accounts/12345/applications/12345678'
API_KEY: ''
